<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>platform-sell-html</display-name>
  
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>platform-sell-html</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>platform-sell/user/login.html</welcome-file>
  </welcome-file-list>
</web-app>
