body {
	color: #666;
	background: #ffffff;
}
.bars {
	width: 100%;
	height: 30px;
	background: #F1F1F1;
}
.all-width {
	width : 1210px;
	MARGIN-RIGHT: auto; 
	MARGIN-LEFT: auto;
}
.bar-mycity {
	height: 7px;
	width:260px;
	padding: 6px 25px 0 10px;
	font-size: 10px;
}
.bar-contents {
	position:absolute;
	width: 800px;
	left:480px;
	top:4px;
}
.bar-contents ul {
	float: left;
	margin: 0px;
	padding: 0px;
}
.bar-contents li {
	float: left;
	list-style: none;
	text-align: center;
	text-decoration: none;
	padding: 0px 11px;
	margin: 0px;
	border-right:solid;
	border-right-width:1px;
	border-right-color:#c0c0c0;
	font-size: 12px;
	
}
.bar-contents a{
	color: #808080;
	text-decoration: none;
}
.bar-contents.li-phone{
	background:  url(../image/login/jd2015img.png) 0 0 no-repeat
}
.head {
	height : 100px;
}
.rise {
	height : 44px;
	border-bottom: 2px solid #B1191A;
}
.main {
	height : 644px;
}
.main .main_subject {
	height : 466px;
}
.guess {
	width: 1349px;
	height: 964px;
	position: relative;
	top:-168px;
}
.guess .today {
	height: 184px;
}
.guess .today .today-logodiv {
	float:left;
	width: 210px;
	height:151px;
	background: url(../image/login/homebg.png) no-repeat  0 -136px;
}
.guess .today .today-logodiv .today-clock {
	position: relative;
	float:left;
	top:31px;
	left:75px;
	border-radius:50%;
	width: 56px;
	height: 56px;
	border: 7px solid #fff;
}
.guess .today .today-logodiv .today-clock .clock-m {
    position: absolute;
    float: left;
    top: 19px;
    left: 16px;
    width: 5px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    transform: rotate(29.5deg);
    transform-origin: 1.5px 8.5px;
}
.guess .today .today-logodiv .today-clock .clock-h {
    position: absolute;
    float: left;
    top: 19px;
    left: 16px;
    width: 5px;
    height: 21px;
    border-radius: 2px;
    background: #fff;
    transform: rotate(69.5deg);
    transform-origin: 2.5px 4.5px;
}
.guess .today .today-logodiv .today-clock .clock-s {
    position: absolute;
    top: 21px;
    left: 18px;
    width: 5px;
    height: 28px;
    transform-origin: bottom;
}
.guess .today .today-logodiv .today-clock .clock-s::before {
    content: "";
    position: absolute;
    left: 25px;
    top: -3px;
    width: 5px;
    height: 5px;
    background-color: #5e5252;
    border-radius: 50%;
}
.guess .today .today-logodiv .today-clock::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 19px;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
}
.guess .today .today-logodiv .today-mc {
	position:absolute;
    float: left;
    left:280px;
    height: 152px;
    width:1000px;
    overflow: hidden;
}
.guess .today .today-logodiv .today-mc .today-li{
	position:relative;
	float:right;
	left:-40px;
	top:-12px;
	height:164px;
	width:240px;
	border-left:1px solid #fff;
    display: list-item;
	list-style: none;
	vertical-align: middle;
}
.head .logo-label {
	display: block;
	position: relative;
	height: 60px;
	width: 270px;
	margin-top: 20px;
}
.head .input-label {
	float: left;
	width:441px;
	height:36px;
	border-width: 2px 0px 2px 2px;
	border-color: #B61D1D;
	border-style: solid;
	padding:4px;
	margin-bottom:4px;
	margin-top: 24px;
	margin-left: -37px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.head .button {
	float:right;
	width:82px;
	height:36px;
	background: #B61D1D;
	margin-top: 24px;
	border-width: 0px 2px 2px 2px;
	border-color: #B61D1D;
	border-style: solid;
	font-size: 16px;
	font-family: "microsoft yahei"; 
}
.head ul{
	float: left;
	position:relative;
	top:3px;
	left:-40px;
	margin:0px;
 	padding:0px;
 	width: 516px;
 	height: 25px;
	
}
.head li {
	float:left;
	list-style: none;
	font-size: 12px;
	padding:0px 7px;
}
.head .shopcar {
	width :145px;
	height :34px;
	margin-top:25px;
	margin-left: 70px;
	padding: 0 28px 0 36px;
	background: #F9F9F9;
	border : 1px solid #DFDFDF ;
	
}
.head .shop-center {
	position:absolute;
	top: 44px;
	left:135px;
	text-align: center;
	font-size: 12px;
	line-height: 1px;
} 
.head .shop-left {
	width :18px;
	height :16px;
	margin-top:10px;
	margin-left: -20px;
	background: url("../image/logo-ico/jd2015img.png") 0 -58px no-repeat;
}
.head .shop-right {
	width :18px;
	height :16px;
	position:absolute;
	top: 34px;
	left:210px;
	
}
.rise .rise-categorys {
	float:left;
	width: 210px;
	height: 44px;
	background: #B1191A;

}
.rise .rise-categorys .a {
	position:relative;
	width: 210px;
	height: 44px;
	top:12px;
	left:10px;
	font-family: "microsoft yahei"; 
	font-size: 15px;
}
.rise .rise-variety {
	float: left;
	height: 44px;
}
.rise .rise-variety ul{
	float:left;
	margin:0px;
 	padding:0px;
}
.rise .rise-variety li {
	float:left;
	list-style: none;
	height: 44px;
	padding: 0 20px;
	text-align: center;
    text-decoration: none;
    font: 400 16px/44px "microsoft yahei";
    color: #333;
	
}
.rise .rise-variety a {
	color: #400040;
	text-decoration: none;
}
.main .main-variety {
	position:relative;
	width: 210px;
	background: #c81623;
}
.main .main-variety-inner {
	float:left;
	position:relative;
	width: 210px;
	height:465px;
	background: #c81623;
}
.main .main-variety-inner .item {
	position:relative;
	border-left-width:1px;
	border-left-color:#b61d1d;
	border-left-style:solid;
	height: 31px;
	font-size: 16px;
	color: #ffffff;
}
.main .main-variety .item a{
	position:relative;
	border-left:1px solid ##b61d1d;
	text-decoration: none;
	line-height:20px;
	top:5px;
	left:10px;
	color: #ffffff;
	font-family: "microsoft yahei"; 
	font-size: 14px;
}
.main .main-variety .item i{
	float:right;
	position:relative;
	top:10px;
	right:10px;
	width:4px;
	height:14px;
	font: 400 9px/14px consolas;
	color: #ffffff;
}
.main .showimage {
	float:left;
	position: relative;
	width:730px;
	top: 12px;
	left: 12px;
}
.main .main-leftnews {
	height: 163px;
	width:250px;
	position: relative;
	float:left;
	top:12px;
	left:22px;
	border: 1px solid #E8E8E7;
}
.main .main-leftnews .main-leftnewstitle {
	height: 32px;
	border-bottom: 1px dotted #E8E8E7;
	padding: 0px 15px;
	line-height: 32px;
}
.main .main-leftnews .main-leftnewstitle .a-title {
	text-decoration: none;
	color: #6f6f6f;
	font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 16px;
}
.main .main-leftnews .main-leftnewstitle .a-title1 {
	float:right;
	text-decoration: none;
	color: #636363;
    font-weight: 400;
    font-size: 13px;
}
.main .main-leftnews .main-leftnewsinfo {
    height: 120px;
    padding-top: 5px;
}
.main .main-leftnews .main-leftnewsinfo ul{
    list-style: none;
}
.main .main-leftnews .main-leftnewsinfo li{
	position:relative;
	float: left;
	left:-25px;
	height: 24px;
	width: 210px;
	
}
.main .main-leftnews .main-leftnewsinfo a{
	position:relative;
	float: left;
	line-height:24px;
	font-size:12px;
	color: #636363;
	text-decoration: none;
}
.main .main-leftnews .main-leftnewsinfo span{
	font-weight: 700;
    margin-right: 5px;
}
.main .leftserv li {
	float: left;
	position: relative;
	width: 62px;
	height: 69px;
	border-right: 1px solid #E8E8E7;
    border-bottom: 1px solid #E8E8E7;
}
.main .leftserv ul{
    list-style: none;
    position: relative;
    padding-left:0px;
    width: 260px;
    height: 209px;
}
.main .leftserv {
	width:250px;
	height:208px;
	border:1px solid #E8E8E7;
	position:relative;
	float:left;
	top: 11px;
	left:22px;
}
.main .leftserv .ci-left {
	display: block;
	position:relative;
	width: 25px;
	height: 27px;
	top:14px;
	left:17px;
}
.main .leftserv a {
	display: block;
	text-align: center;
	line-height: 51px;
}
.main .leftserv span {
	font-size:12px;
	color: #636363;
	text-decoration: none; 	
}
.main .left-adv {
	position: relative;
	float: left;
	top: 19px;
	left: 22px;
}

